:: No salt is needed for decryption.
set PASS_FIXED=<your-passphrase>

:: If decryption fails, use `cat` instead. 
:: Error messages are redirected to /dev/null.
openssl enc -d -hex -aes-256-ecb -k %PASS_FIXED% 2> null || cat
